body {
  margin: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* 2. set appropriate css for the camera vectors */
#camera-vectors {
  position: absolute;
  top: 0;
  right: 0;
  background: grey;
  padding: 8px;
  color: white;
}